<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 headermain">
        <div class="header_logo text-center">
          <div class="logo" style="background-image: url(../assets/images/tata-communications.png)"></div>
          <h2>EDM Weblink Form</h2>
        </div>
      </div>
      <div class="col-12 header_alert text-center">
        <p>You can either use Weblink Form or Bulk Upload option to provide your data for Prism update. Maximum records that can be added through Weblink Form is 5 records.</p>
      </div>
    </div>
  </div>
</header>