<div id="example">
    <div class="demo-section k-content">
        <!--  <h4>Upload File</h4> -->
        <input name="files" id="files" type="file" required/>
        <button type="button" class="close" aria-label="Close" (click)="cross()" id="cross">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>