#example
{ position: relative;
    top: -3vw;
    width: 55%;
    left: 16vw;
    margin-bottom: -3vw;
}
#cross
{
position:relative;
top:-3.5vw;
right:2vw;
}

@media (max-width:1400px){
    #example
    { position: relative;
        top: -4vw;
        width: 55%;
        left: 18vw;
        margin-bottom: -3vw;
    }
}
em
{
	display: inline-flex !important; 

}