<app-header></app-header>

<section class="main-section">
  <div class="container">

    <form #form1="ngForm" autocomplete="off">
      <div class="row">
        <div class="col-6">
          <div class="customfom_group form-group m-0 row">
            <label class="col-form-label">
              Employee Code<span>*</span>
            </label>
            <div class="col-9">
              <input type="text" name="EmployeeCode" [ngModel]="EmployeeCode" placeholder="Employee Code" class="form-control" id="z" (keyup.enter)="employeecodesend(form1.value)"
                (change)="employeecodesend(form1.value)" />
              <div class="invalid-feedback">
                Please enter a valid Employee Code.
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="customfom_group form-group m-0 row">
            <label class="col-form-label">
              Email Address<span>*</span>
            </label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Email Address"  id="zz" (click)="zz()" (change)="zz()" disabled/> 
               <div class="invalid-feedback">
                Please enter a valid Email Address.
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-12">
        <ul class="maincustomtab">
          <li>
            <a (click)="switchTo('positionform')" [ngClass]="{ 'active': visibleTab == 'positionform'}">Reclassify Position
              Form </a>
          </li>
          <li>
            <a (click)="switchTo('bulkupload')" [ngClass]="{ 'active': visibleTab=='bulkupload'}">Bulk Upload</a>
          </li>
        </ul>
      </div>

      <div class="col-12">
        <app-position-form *ngIf="visibleTab == 'positionform'" [positioncodejson]="positioncodejson"></app-position-form>
        <app-bulk-upload *ngIf="visibleTab == 'bulkupload'"></app-bulk-upload>
      </div>
    </div>
  </div>
</section>