body{
    font-family: Gotham;
}

a, button{
    &:hover,&:focus{
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

.btn-green{
    min-width: 100px;
    height: 40px;
    line-height: 18px;
    color: #333;
    font-weight: 600;
    border: 2px solid #96c03d;
    background: #eceef0;
    &:hover{
        background: #96c03d;
        color: #FFF;
    }
    &:focus{
        box-shadow: none;
        outline: none;
    }
}

// Header
header{
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 100;
    .headermain{
        background: #FFF;
        box-shadow: 2px 2px 10px lightgrey;
        .header_logo{
            position: relative;
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{
                position: absolute;
                left: 0;
                width: 320px;
                height: 19.5px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat; 
            }
            h2{
                font-size: 30px;
                font-weight: 600;
                color: #333333;
                text-transform: capitalize;
            }
        }
    }
    .header_alert{
        padding: 10px 15px;
        z-index: -1;
        font-size: 14px;
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-bottom: 1px solid #faebcc;
    }
}

// Common Input

.customfom_group{
    padding-bottom: 15px !important;
    .col-form-label{
        color: #333333;
        font-size: 14px;
        span{
            color: #dc3545;
        }
    }
    .form-control{
        font-size: 16px;
        position: relative;
        &:focus{
            box-shadow: none;
            outline: none;
            border-color: lightgray;
        }
    }

    .form-control + .invalid-feedback{
        position: absolute;
        font-size: 12px;
        line-height: 15px;
        margin: 2px 0 0;
    }
}

// Main Component

.main-section{
    padding: 135px 0 10px;
}

.maincustomtab{
    display: flex;
    padding: 0;
    margin: 20px 0;
    li{
        display: inline-flex;
        list-style-type: none;
        width: 100%;
        justify-content: center;
        a{
            font-size:20px;
            line-height: 20px;
            font-weight: 500;
            padding: 14px 0 10px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            border-radius: 5px 0px 0px 5px;
            border-bottom: 4px solid #96c03d;
            color: #2c3f4c;
            background-color: #eceef0;
        }
        a.active{
            background: #96c03d;
            color: #FFF;
            &:hover{
                color: #FFF;
            }
        }
        &:last-child{
            a{
                border-radius: 0px 5px 5px 0;
            }
        }
    }
}

// Position Form

.form_multisteps{
    ul{
        display: block;
        padding: 0;
        margin: 0;
        li{
            display: block;
            list-style-type: none;
            margin-bottom: 10px;
            a{
                padding: 10px 35px;
                display: block;
                background: #eceef0;
                border-radius: 8px;
                border-left: 10px solid #2c3f4c;
                color: #2c3f4c;
                font-size: 16px;
                font-weight: 600;
                position: relative;
                z-index: 1;
                cursor: pointer;
                &:hover{
                    color: #FFF !important;
                    &:after{
                        width: 100%;
                    }
                }
                &:after{
                    position: absolute;
                    content: '';
                    top:0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: #2c3f4c;
                    border-radius: 0 8px 8px 0;
                    transform-origin:left;
                    transition:width 0.25s ease;
                    z-index: -1;
                }
            }
            a.active{
                border-left: 10px solid #96c03d;
                &:hover{
                    color: #FFF;
                }
                &:after{
                    background-color: #96c03d;
                }
            }
        }
    }
}

.formlayout_box {
    position: relative;
    width: 100%;
    height: 360px;
    border: 1px solid #e7e7e7;
    overflow-y: auto;
    padding: 15px;
}

.reviewform_table{
    width: 100%;
    overflow-y: auto;
    .table.table-bordered{
        thead{
            tr{
                background: #eceef0;
                color: #202529;
                th{
                    vertical-align: top;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    border: 1px solid #8c8c8c;
                    padding: 10px 25px;
                }
            }
        }
        th{
            border: 1px solid #8c8c8c;
        }
    } 
}

.customselect{
    min-width: 100px;
    height: 40px;
    line-height: 18px;
    color: #333;
    font-weight: 600;
    border: 2px solid #96c03d;
    background: #eceef0;
    &:focus{
        box-shadow: none;
        outline: none;
    }
}

.dropdown-content{
    position: absolute;
    width: 95.75%;
    height: auto;
    max-height: 150px;
    background: whitesmoke;
    border: 1px solid #ced4da;
    border-top: 0;
    z-index: 2;
    overflow-y: auto; 
    display: none;
    a{
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ced4da;
        cursor: pointer;
        &:last-child{
            border: 0;
        }
    }
}