<div class="row">
  <div class="col-8">
    <div class="formlayout_box">

      <!-- Position Section -->

      <div *ngIf="currentsection=='positionsection'" id="positionsection">

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Position ID<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput" (click)="myFunction('myDropdown')" class="form-control"
              (keydown.enter)="pop()" autocomplete="off" name="position_Id" [(ngModel)]="positiondata" disabled>
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown" class="dropdown-content">
              <a id="pi{{i}}" (click)="search_v0((i));myFunction3('myDropdown')" *ngFor="let data of positioncodejson?.Output; let i=index">{{data}}</a>
            </div>

          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Effective Date<span>*</span>
          </label>
          <div class="col-12">
            <input type="date" placeholder="-- No Selection --" id="myInput-1" class="form-control" disabled (keydown.enter)="pop()">
            <div class="invalid-feedback">
              Please enter a valid Date.
            </div>
            <!-- <div class="dropdown-1" style="display:none;">
              <div id="myDropdown-1" class="dropdown-content-1">
                <a id="{{data}}" (click)="search_v1((data))" onclick="myFunction1()">{{data}}</a>
              </div>
            </div> -->
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Status<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-2" onkeyup="filterFunction2()" class="form-control" (click)="showStatusDropDown(e)"
              (keydown.arrowdown)="showdd2();" (dblclick)="showdd2();" (keypress)="showdd2();" autocomplete="off" (keydown.tab)="hidedd2();"
              (keydown.enter)="pop()" name="status" [ngModel]="statusdata" disabled>
            <div class="invalid-feedback">
              Please enter a valid Date.
            </div>
            <div id="myDropdown-2" class="dropdown-content" *ngIf="showActivePositionData">
              <a id="{{qwert}}" *ngFor="let qwert of statusjson.Output;let i = index" (click)="search_v2((qwert))" onclick="myFunction2()">{{qwert}}</a>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-12 text-right">
            <button class="btn btn-green" (click)="pop()">Next</button>
            <button class="btn btn-green" [hidden]="firstreview" (click)="firstreviewform()">Review Form</button>
          </div>
        </div>

      </div>

      <!-- Level Hierarchy Section -->

      <div *ngIf="currentsection=='levelhierarchy'">

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Legal Entity<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-3" (click)="myFunction3('myDropdown-3');" class="form-control"
              disabled (keydown.enter)="pop1()" autocomplete="off" name="legal_Entity" [ngModel]="legaldata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-3" class="dropdown-content">
              <a id="le{{i}}" (click)="search_v3((i));myFunction3('myDropdown-3')" *ngFor="let qwertyuiop of legaldataprint?.Output; let i = index">{{qwertyuiop}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Business Unit/SSU<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-4" class="form-control" (click)="myFunction3('myDropdown-4'); "
              disabled autocomplete="off" (keydown.enter)="pop1()" name="bu_Ssu" [ngModel]="budata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-4" class="dropdown-content">
              <a id="bu{{q}}" (click)="search_v4((q))" *ngFor="let abc of bussu?.Output;let q = index" (click)="myFunction3('myDropdown-4')">{{abc}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row"> 
          <label for="exampleInputPassword1" id="paa-text">Position Admin Approval*</label>
          <div class="invalid-feedback">
            You have selected an attribute which requires Position Admin approval. Please attach the email approval
          </div> 
          <input type="checkbox" name="paa" id="paa" class="formInput" required autocomplete="off" spellcheck="false" (click)="tick()" (change)="tick()">

        </div>

        <div id="drg">

          <app-drag></app-drag>
          <div class="invalid-feedback">
            Please fill the mandatory fields
          </div> 
           
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            LOB/Segment<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-5" class="form-control" (click)="myFunction3('myDropdown-5');  "
              disabled (keydown.enter)="pop1()" autocomplete="off" name="lob_Segment" [ngModel]="lobdata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-5" class="dropdown-content">
              <a id="lob{{w}}" (click)="search_v5((w)); myFunction3('myDropdown-5')" *ngFor="let lob of lobsegment?.Output; let w = index">{{lob}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Vertical<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-6" class="form-control" (keydown.arrowdown)="vertical_post();"
              (click)="myFunction3('myDropdown-6'); " disabled (keydown.enter)="pop1()" (keydown.tab)="hidedd6()" autocomplete="off"
              name="vertical" [ngModel]="verticaldata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-6" class="dropdown-content">
              <a id="ver{{e}}" (click)="search_v6((e));myFunction3('myDropdown-6')" *ngFor="let ver of vertical?.Output; let e = index">{{ver}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Sub Vertical<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-7" class="form-control" (click)="myFunction3('myDropdown-7'); "
              disabled (keydown.enter)="pop1()" (keydown.tab)="hidedd7()" autocomplete="off" name="sub_Vertical" [ngModel]="subvdata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-7" class="dropdown-content">
              <a id="sub{{r}}" (click)="search_v7((r));myFunction3('myDropdown-7')" *ngFor="let sub of subvertical?.Output; let r = index">{{sub}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Cost Center<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-8" class="form-control" (click)="myFunction3('myDropdown-8')"
              (keydown.enter)="pop1()" autocomplete="off" disabled name="cost_Center" [ngModel]="costcenterdata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-8" class="dropdown-content">
              <a id="cos{{t}}" (click)="search_v8((t));myFunction3('myDropdown-8')" *ngFor="let cost of costcenter?.Output; let t = index">{{cost}}</a>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-6">
            <button class="btn btn-green" (click)="position()">Back</button>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-green" (click)="pop1()">Next</button>
          </div>
        </div>

      </div>

      <!-- Geo Zone Facility Section -->

     <div *ngIf="currentsection=='geozonefacility'">

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Geozone<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-9" onkeyup="filterFunction9()" class="form-control"
              onclick="myFunction9(e)" (keydown.arrowdown)="geo_post();showdd9();" (click)="geo_post()" (dblclick)="geo_post();showdd9();"
              (keypress)="geo_post();showdd9();" (keydown.enter)="pop2()" (keydown.tab)="hidedd9()" autocomplete="off"
              disabled name="geozone" [ngModel]="geozonedata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-9" class="dropdown-content-9">
              <a id="ge{{y}}" (click)="search_v9((y))" *ngFor="let geo of geozone.Output; let y = index" onclick="myFunction9()">{{geo}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Facility<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-10" onkeyup="filterFunction10()" class="form-control"
              (keydown.arrowdown)="facility_post();showdd10();" onclick="myFunction10(e)" (click)="facility_post()"
              (dblclick)="facility_post();showdd10();" (keypress)="facility_post();showdd10();" (keydown.enter)="pop2()"
              (keydown.tab)="hidedd10()" autocomplete="off" disabled name="facility" [ngModel]="facilitydata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-10" class="dropdown-content-10">
              <a id="fa{{u}}" (click)="search_v10((u))" *ngFor="let fac of facility.Output; let u = index" onclick="myFunction10()">{{fac}}</a>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-6">
            <button class="btn btn-green" (click)="pop()">Back</button>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-green" (click)="pop2()">Next</button>
          </div>
        </div>

      </div> 

      <!-- Employee Class Section -->

      <!-- <div *ngIf="currentsection=='employeclass'">

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Employee Class<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-11" onkeyup="filterFunction11()" class="form-control"
              onclick="myFunction11(e)" (keydown.arrowdown)="empclass_post();showdd11();" (click)="empclass_post()"
              (dblclick)="empclass_post();showdd11();" (keypress)="empclass_post();showdd11();" (keydown.enter)="pop3()"
              (keydown.tab)="hidedd11()" disabled name="employee_Class" [ngModel]="empclassdata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-11" class="dropdown-content-11">
              <a id="cl{{a}}" (click)="search_v11((a))" *ngFor="let class of employeeclass.Output; let a = index"
                onclick="myFunction11()">{{class}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Employee Type<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-12" onkeyup="filterFunction12()" class="form-control"
              onclick="myFunction12(e)" (keydown.arrowdown)="emptype_post();showdd12();" (click)="emptype_post()"
              (dblclick)="emptype_post();showdd12();" (keypress)="emptype_post();showdd12();" (keydown.enter)="pop3()"
              (keydown.tab)="hidedd12()" disabled name="employee_Type" [ngModel]="emptypedata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-12" class="dropdown-content-12">
              <a id="ty{{s}}" (click)="search_v12((s))" *ngFor="let type of employeetype.Output; let s = index" onclick="myFunction12()">{{type}}</a>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-6">
            <button class="btn btn-green" (click)="pop1()">Back</button>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-green" (click)="pop3()">Next</button>
          </div>
        </div>

      </div> -->

      <!-- Global Work Section -->
      <!-- 
      <div *ngIf="currentsection=='globalwork'">

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Job Family<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-13" onkeyup="filterFunction13()" class="form-control"
              onclick="myFunction13(e)" (keydown.arrowdown)="jobfamily_post();showdd13();" (click)="jobfamily_post()"
              (dblclick)="jobfamily_post();showdd13();" (keypress)="jobfamily_post();showdd13();" (keydown.enter)="pop4()"
              (keydown.tab)="hidedd13()" disabled name="job_Family" [ngModel]="jobfamilydata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-13" class="dropdown-content-13">
              <a id="jf{{d}}" (click)="search_v13((d))" *ngFor="let family of jobfamily.Output; let d = index" onclick="myFunction13()">{{family}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Job Code<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-14" onkeyup="filterFunction14()" class="form-control"
              onclick="myFunction14(e)" (click)="jobcode_post()" (keydown.arrowdown)="jobcode_post();showdd14();"
              (dblclick)="jobcode_post();showdd14();" (keypress)="jobcode_post();showdd14();" (keydown.enter)="pop4()"
              (keydown.tab)="hidedd14()" disabled name="job_Code" [ngModel]="jobcodedata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-14" class="dropdown-content-14">
              <a id="jc{{f}}" (click)="search_v14((f))" *ngFor="let code of jobcode.Output; let f = index" onclick="myFunction14()">{{code}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Internal Specialization<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-15" onkeyup="filterFunction15()" class="form-control"
              onclick="myFunction15(e)" (keydown.arrowdown)="internal_post();showdd15();" (click)="internal_post()"
              (dblclick)="internal_post();showdd15();" (keypress)="internal_post();showdd15();" (keydown.enter)="pop4()"
              (keydown.tab)="hidedd15()" disabled name="internal_Specialization" [ngModel]="internaldata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-15" class="dropdown-content-15">
              <a id="is{{g}}" (click)="search_v15((g))" *ngFor="let inte of internalspecilization.Output; let g = index"
                onclick="myFunction15()">{{inte}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Variable Pay Plan Type<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-16" (click)="variable_post()" onkeyup="filterFunction16()"
              class="form-control" onclick="myFunction16(e)" (keydown.enter)="pop4()" disabled (keydown.arrowdown)="showdd16();n();"
              (click)="n();" (dblclick)="showdd16();n();" (keypress)="showdd16();n();" (keydown.tab)="hidedd16()" name="variable_Pay_Plan_Type"
              [ngModel]="variabledata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-16" class="dropdown-content-16">
              <a id="vpp{{h}}" (click)="search_v16((h))" *ngFor="let varb of variablepay.Output; let h = index" onclick="myFunction16()">{{varb}}</a>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-6">
            <button class="btn btn-green" (click)="pop2()">Back</button>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-green" (click)="pop4()">Next</button>
          </div>
        </div>

      </div> -->

      <!-- Reporting Manager Section -->

      <!-- <div *ngIf="currentsection=='reportingmanager'">

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            Reporting Manager<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-17" (click)="reporting_post()" onkeyup="filterFunction17()"
              class="form-control" onclick="myFunction17(e)" (keydown.arrowdown)="showdd17()" (dblclick)="showdd17()"
              (keypress)="showdd17()" disabled (keydown.tab)="hidedd17()" name="reporting_Manager" [ngModel]="reportingdata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-17" class="dropdown-content-17">
              <a id="rm{{j}}" (click)="search_v17((j))" *ngFor="let repo of reportingmanager.Output; let j = index"
                onclick="myFunction17()">{{repo}}</a>
            </div>
          </div>
        </div>

        <div class="customfom_group form-group m-0 row">
          <label class="col-12 col-form-label">
            BU HR SPOC<span>*</span>
          </label>
          <div class="col-12">
            <input type="text" placeholder="-- No Selection --" id="myInput-18" (click)="buhr_post()" onkeyup="filterFunction18()"
              class="form-control" onclick="myFunction18(e)" (keydown.arrowdown)="showdd18()" (dblclick)="showdd18()"
              (keypress)="showdd18()" disabled (keydown.tab)="hidedd18()" name="bu_Hr_Spoc" [ngModel]="buhrdata">
            <div class="invalid-feedback">
              Please enter a valid Employee Code.
            </div>
            <div id="myDropdown-18" class="dropdown-content-18">
              <a id="bhs{{k}}" (click)="search_v18((k))" *ngFor="let buspoc of buhrspoc.Output; let k = index" onclick="myFunction18()">{{buspoc}}</a>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-6">
            <button class="btn btn-green" (click)="pop3()">Back</button>
          </div>
          <div class="col-6 text-right">
            <button type="submit" class="btn btn-green mr-3" (click)="toreviewform(form.value);">Review Form</button>
            <button type="submit" class="btn btn-green" (click)="submitform(form.value);checkmax()" [disabled]="maxform">Add
              More+</button>
          </div>
        </div>

      </div> -->

    </div>
  </div>

  <div class="col-4">
    <div class="form_multisteps">
      <ul>
        <li><a [ngClass]="currentsection=='positionsection'?'active': ''" (click)="activatesection('positionsection')">Position
            Section
          </a></li>
        <li><a [ngClass]="currentsection=='levelhierarchy'?'active': ''" (click)="activatesection('levelhierarchy')">5 Level
            Hierarchy & Cost Center</a></li>
        <li><a [ngClass]="currentsection=='geozonefacility'?'active': ''" (click)="activatesection('geozonefacility')">Geozone
            & Facility</a></li>
        <li><a [ngClass]="currentsection=='employeclass'?'active': ''" (click)="activatesection('employeclass')">Employee
            Class & Type</a></li>
        <li><a [ngClass]="currentsection=='globalwork'?'active': ''" (click)="activatesection('globalwork')">Global Work
            Levels & Variable Pay Plan Type</a></li>
        <li><a [ngClass]="currentsection=='reportingmanager'?'active': ''" (click)="activatesection('reportingmanager')">Reporting
            Manager & BU HR SPOC</a></li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12">
    <div class="reviewform_table">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th *ngFor="let item of datashowcol">{{item}}</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let abc of datasession.value; let i=index" class="{{abc.position_Id}}">
            <td>{{abc.position_Id}}</td>

            <td>{{abc.status}}</td>
            <td>{{abc.effective_Date}}</td>
            <td>{{abc.legal_Entity}}</td>
            <td>{{abc.bu_Ssu}}</td>
            <td>{{abc.lob_Segment}}</td>
            <td>{{abc.vertical}}</td>
            <td>{{abc.sub_Vertical}}</td>
            <td>{{abc.cost_Center}}</td>
            <td>{{abc.geozone}}</td>
            <td>{{abc.facility}}</td>
            <td>{{abc.employee_Class}}</td>
            <td>{{abc.employee_Type}}</td>
            <td>{{abc.job_Family}}</td>

            <td>{{abc.job_Code}}</td>
            <td>{{abc.internal_Specialization}}</td>
            <td>{{abc.variable_Pay_Plan_Type}}</td>
            <td>{{abc.reporting_Manager}}</td>
            <td>{{abc.bu_Hr_Spoc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-6">

        <button class="btn btn-green" (click)="takeme()">Back</button>

        <select class="customselect ml-3" (click)="selectchange($event)">
          <option value="0">Select</option>
          <option *ngFor="let abc of datasession.value" [value]="abc.position_Id" class="{{abc.position_Id}}">
            {{abc.position_Id}}
          </option>
        </select>

        <button class="btn btn-green ml-3" (click)="edittabledata()">Edit</button>

        <button class="btn btn-green ml-3" (click)="deletedataintable()">Delete</button>

      </div>

      <div class="col-6 text-right">

        <select class="customselect" (change)="check($event.target.value);">
          <option value="0">Download File as</option>
          <option value="1">CSV</option>
          <option value="2">Excel</option>
        </select>

        <button class="btn btn-green ml-3" (click)="getfromlocal(form.value)">Submit</button>

      </div>
    </div>
  </div>

</div>