.big {
    font-size: 1.2em;
}

.red {
    border-color: red !important;
}

.square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
}

/* Custom dropdown */

.custom-dropdown {
    position: relative;
    display: inline-block;
    right: 0vw;
    top: 1.8vw;
    vertical-align: middle;
    margin: 10px;
}

.custom-dropdown select {
    font-size: 1.1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: #eceef0;
    color: inherit;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
    border-left: 10px solid #96c03d;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
    background-color: rgba(0, 0, 0, .15);
}

.custom-dropdown::after {
    color: rgba(0, 0, 0, .4);
}

.excelbutton1 {
    border: 0px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-left: 10px solid yellowgreen;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    float: right;
    top: 2.5vw;
    right: 11vw;
}

.excelbutton1:hover {
    border: 0px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-left: 10px solid yellowgreen;
    border-radius: 4px;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    position: relative;
    float: right;
    top: 2.5vw;
    right: 11vw;
}

.excelbutton2 {
    /* border: 0px; */
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    top: 2vw;
    border-left: 10px solid #96c03d;
    background-color: #eceef0;
}

.excelbutton3 {
    border: 0px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-left: 10px solid yellowgreen;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    top: 2vw;
    left: 1vw;
}

.excelbutton3:hover {
    border: 0px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-left: 10px solid yellowgreen;
    border-radius: 4px;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    position: relative;
    top: 2vw;
    left: 1vw;
}

.excelbutton4 {
    border: 0px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-left: 10px solid yellowgreen;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    top: 2vw;
    float: right;
    right: 12vw;
}

.excelbutton4:hover {
    border: 0px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-left: 10px solid yellowgreen;
    border-radius: 4px;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    position: relative;
    top: 2vw;
    float: right;
    right: 12vw;
}

#errors {
    background-color: #f8d7da !important;
    width: 56vw;
    position: relative;
    left: 20vw;
    top: 3vw;
    overflow-y: scroll;
    height: 18vw;
}

/* ----- */

#pos-error {
    font-size: 18px;
    font-weight: bold;
}

#showdiv {
    position: relative;
    right: 7vw;
}

@media (max-width:1290px) {
    #errors {
        background-color: #f8d7da !important;
        width: 54vw;
        position: relative;
        left: 23vw;
        top: 3vw;
        overflow-y: scroll;
        height: 15vw;
    }
    /* ----- */
    #pos-error {
        font-size: 18px;
        font-weight: bold;
    }
    #showdiv {
        position: relative;
        right: 7vw;
    }
}

@media (min-width:1400px) {
    #errors {
        background-color: #f8d7da !important;
        width: 56vw;
        position: relative;
        left: 18vw;
        top: 3vw;
        overflow-y: scroll;
        height: 15vw;
    }
    /* ----- */
    #pos-error {
        font-size: 18px;
        font-weight: bold;
    }
    #showdiv {
        position: relative;
        right: 7vw;
    }
}

@media (min-width:1500px) {
    #errors {
        background-color: #f8d7da !important;
        width: 56vw;
        position: relative;
        left: 13vw;
        top: 3vw;
        overflow-y: scroll;
        height: 15vw;
    }
    /* ----- */
    #pos-error {
        font-size: 18px;
        font-weight: bold;
    }
    #showdiv {
        position: relative;
        right: 7vw;
    }
}