<div class="row">
  <div class="col-12"> 

    <div class="row">
      <div class="col-12">

        <jqxGrid #myGrid  [width]="1110" [height]="250" [source]="dataAdapter" [columns]="columns" [pageable]="true" [sortable]="true"
          [altrows]="true" [enabletooltips]="true" [editable]="true" [selectionmode]="'multiplecellsadvanced'" [columngroups]="columngroups"
          (keyup.enter)="enterclick()">
        </jqxGrid>
        
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-6">
        
        <select class="customselect" (click)="selectchange($event)" (mouseover)="hoverchange()">    
          <option value="0">Select</option>
          <option *ngFor="let position of printposition" [value]="position.uid">
              {{position.position_Id}}
          </option>
        </select>

        <button class="btn btn-green ml-3" (click)="deleterow()">Delete</button>
      </div>
      <div class="col-6 text-right">
        
        <select class="customselect" (change)="check($event.target.value);">    
          <option value="0">Download File as</option>
          <option value="1" >CSV</option>
          <option value="2" >Excel</option>  
        </select>

        <button class="btn btn-green ml-3" (click)="expotdataofexcel()">Submit</button> 

      </div>
    </div>
  </div>
</div>
